
<% content_for :js do %>
  <script type="text/javascript">
    $(function(){
      $('.toast').toast({delay:3000, animation:true});
      $('.toast').toast('show');
    });
  </script>
<% end %>

<div class="position-absolute w-100 d-flex flex-column p-4">
    <div class="toast ml-auto show" role="alert">
    <% if !notice.blank? %>
        <div class="toast bg-success" >
        <div class="toast-header">
            <strong class="mr-auto text-success">Success</strong>
            <small class="text-muted">&nbsp;</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body text-light">
            <%= notice %>
        </div>
        </div>
    <% end %>
    <% if alert.present? %>
        <div class="toast bg-danger" >
        <div class="toast-header">
            <strong class="mr-auto text-danger">Error</strong>
            <small class="text-muted">&nbsp;</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body text-light">
            <%= alert %>
        </div>
        </div>
<% end %>
</div>
</div>